{% extends "layout.html" %}

{% block title %}
| Pagina de Teste
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
<h1 class="text-xl font-bold underline text-center">Como Iniciar um Projeto</h1>
<h2 class="text-lg text-center pb-2">Sair da inércia e dar um basta na procastinação</h2>
<p class="indent-4 pb-2 text-justify">
  Muitas vezes, com certeza, a parte mais difícial de um projeto, é iniciá-lo. Perdemos muito tempo pensando em um nome que impressione, a estilização perfeita, a melhor fonte de texto, o melhor timing para lançamento do produto... e nada. 
</p>
<p class="indent-4 pb-2 text-justify">
  Realmente, começar é o mais difícil. E você só vai descobrir isso depois que começar. Com o tempo, se continuar a iniciar projetos sem ficar preocupado com o resultado final, a roda começa a girar.  
</p>

{% endblock %}