{% extends "layout.html" %}

{% block title %}
| Pagina de Teste
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
<h1 class="text-xl font-bold underline text-center">HELLO WORLD!</h1>
<h2 class="text-lg text-center pb-2">Teste</h2>
<p class="indent-4 pb-2 text-justify">Este é um teste de exportação dos sites estáticos. A pretensão é criar uma parte do site que responda como fosse um blog, com estrutura incorporada ao site principal.</p>
<p class="indent-4">Agora que está configurada uma aparência básica, vamos testar como fica a exportação para HTML estático.</p>

{% endblock %}