<!DOCTYPE html>

<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <!-- <link href="/static/favicon.ico" rel="icon"> -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
      </style>
    <title>
      Adiante {% block title %}{% endblock %}
    </title>
  </head>

  <body>
    <header>
      <div id="area_logo">
        <div id="logo">Adiante</div>
        <div id="sub-logo">Aprender, Criar, Realizar</div>
      </div>
      <img id="hamburger" src="static/burger-menu-svgrepo-com.svg" alt="">
    </header>
    
    <main>
      <div class="conteudo">
        {% block main %}{% endblock %}
      </div>
    </main>
    
    <footer>
      <p>um site por <a href="http://dustein.com" target="_blank">DuStein</a></p>
    </footer>
    
  </body>

</html>