<!DOCTYPE html>

<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <!-- <link href="/static/favicon.ico" rel="icon"> -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    <script>
      function menuToggle() {
        let menu = document.querySelector(".links-menu");
        if (menu.style.display === "flex") {
          menu.style.display = "none";
        } else {
          menu.style.display = "flex";
        }
      }
    </script>
    <title>
      Adiante {% block title %}{% endblock %}
    </title>
  </head>

  <body>
    <header>
          
      <div class="area-logo">
        <div id="logo">Adiante</div>
        <div id="sub-logo">Aprender, Criar, Realizar</div>
      </div>
      <div class="area-menu">
        <ul class="links-menu">
          <a href="">
            <li>Inicial</li>
          </a>
          <a href="">
            <li>DuStein</li>
          </a>
          <a href="">
            <li>Contato</li>
          </a>
        </ul>
        <a href="javascript:void(0);" onclick="menuToggle()"><img id="hamburger" src="static/burger-menu-svgrepo-com.svg" alt=""></a>
        <ul class="links-menu-800">
          <a href="">
            <li>Inicial</li>
          </a>
          <a href="">
            <li>DuStein</li>
          </a>
          <a href="">
            <li>Contato</li>
          </a>
        </ul>

      </div>
    </header>
    
    <main>
      <div class="conteudo">
        {% block main %}{% endblock %}
      </div>
    </main>
    
    <footer>
      <p>um site por <a href="http://dustein.com" target="_blank">DuStein</a></p>
    </footer>
    
  </body>

</html>