<!DOCTYPE html>

<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <!-- <link href="/static/favicon.ico" rel="icon"> -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style-cdp.css') }}">
    
    <title>
      {% block title %}{% endblock %}
    </title>
  </head>

  <body>
    <header>
      <img class="header-img" src="../static/cdp/caso_de_policia.jpg" alt="">
      <div class="sub-header">
        <div class="area-logo">
          <div id="logo-area">
              <div id="logo">Caso de Polícia</div>
              <div id="sub-logo">do Concurso ao Operacional</div>
        </div>
        <div class="area-menu">
          Índice
        </div>
      </div>
    </header>
    
    <main>
      <div class="conteudo">
        {% block main %}
        {% endblock %}
      </div>
    </main>
    
    <footer>
       <p>Caso de Polícia - do Concurso ao Operacional</p>
    </footer>
    
  </body>

</html>